{% load static %}

<header class="main-header sticky-header header-with-top">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">

      <a class="navbar-brand company-logo" href="{% url 'home' %}">
        <img
          id="customSiteLogo"
          class="custom-site-logo"
          src="{% static 'img/logos/logo.png' %}"
          data-light="{% static 'img/logos/logo.png' %}"
          data-dark="{% static 'img/logos/black-logo.png' %}"
          alt="Car Zone"
        />
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbar" aria-controls="navbar"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-bars"></span>
      </button>

      <div class="navbar-collapse collapse w-100" id="navbar">
        <ul class="navbar-nav ml-auto">

          <li class="nav-item">
            <a class="nav-link {% if request.path == '/' %}active{% endif %}"
               href="{% url 'home' %}">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link {% if '/cars/' in request.path %}active{% endif %}"
               href="{% url 'cars' %}">Cars</a>
          </li>

          <li class="nav-item">
            <a class="nav-link {% if request.path == '/about/' %}active{% endif %}"
               href="{% url 'about' %}">About</a>
          </li>

          <li class="nav-item">
            <a class="nav-link {% if request.path == '/services/' %}active{% endif %}"
               href="{% url 'services' %}">Services</a>
          </li>

          <li class="nav-item">
            <a class="nav-link {% if request.path == '/contact/' %}active{% endif %}"
               href="{% url 'contact' %}">Contact</a>
          </li>



        </ul>
      </div>

    </nav>
  </div>
</header>

{% url 'home' as home_url %}
{% url 'cars' as cars_url %}
{% url 'about' as about_url %}
{% url 'services' as services_url %}
{% url 'contact' as contact_url %}
